<div style="margin-top: 20px;" fxLayout='row' fxLayoutAlign='center center'>
  <mat-card fxFlex="30%">
    <mat-card-header>
      <mat-card-title><span class="mat-headline">Login to Grocer App</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" [formGroup]="loginform" (ngSubmit)="submitForm(loginform)">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon>email</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginform.get('email').hasError('required')">
              <span>Email is required</span>
            </mat-error>
            <mat-error *ngIf="loginform.get('email').hasError('email')">
              <span>Email is not valid</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon>vpn_key</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password"
              type="password">
            <mat-error *ngIf="loginform.get('password').hasError('required')">
              <span>Password is required</span>
            </mat-error>
            <mat-error *ngIf="loginform.get('password').hasError('minlength')">
              <span>Password must be greater than 6 digits</span>
            </mat-error>
            <mat-error *ngIf="loginform.get('password').hasError('maxlength')">
              <span>Password exceeds maxLength of 50</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="margin-top" fxLayoutAlign="center">
          <div></div>
          <div *ngIf="loginError" class="mat-caption error">{{loginError}}</div>

          <button mat-raised-button type="submit" color="primary"
            [disabled]="loginform.invalid">Login</button>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>